* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-image: url("/assets/images/background-fun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .menu {
    height: 100%;
    position: fixed;
    
  }
  nav.menu-lateral {
    height: 100%;
    background-color: #003566;
    width: 70px;
    
  }
  ul {
   
    height: 100%;
    list-style-type: none;
  }

  
  ul li.item-menu a {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  ul li.item-menu a .icon > img {
    margin-top: 0.7rem;
    width: 35px;
    transition: transform 0.3s;
  }
  
  #foguete{
    width: 62px;
    margin-top: -0.2rem;
    margin-left: -0.75rem;
  }
  #person-icon{
    width: 41px;
  }
  ul li.item-menu a .icon > img:hover {
    transform: scale(1.2);
  }
  #mentor-icon{
    margin-top: -0.7rem;
   
  }
  #exit{
    margin-top: -0.1rem;
    width: 40px;
  }
  

  