
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#profile{
    padding: 1.5rem;
}
#profile h1{
    color: #555;
    text-align: center;
    margin-bottom: 2rem;
}


#profile img{
    width: 170px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    
}

#info-primeiro{
    margin-left: 2rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

}
#cidade{
    margin-right: 3rem;
}

.valor{
    width: 250px;
    height: 40px;
    text-align: left;
    padding: 0.5rem;
    color: #858585;
    border: 2px solid rgba(0, 137, 57, 0.49);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
#titulo{
    color: #001D3D;
    font-weight: 600;
}
#info{
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
#email-box .valor{
    width: 555px;
    margin-bottom: 1rem; 
}
#nome-box .valor{
    width: 555px;
    margin-bottom: 1rem; 
}

#mentor-box .valor{
    width: 555px;
    margin-bottom: 1rem; 
}
#info-ultimo{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    gap: 0.5rem;
}
#terminoContrato{
    margin-right: 3rem;
}