
.main{
    flex: 1;
    margin-left: 3rem;

}
.main h1{
    text-align:center;
    padding: 1.5rem;
    color: #555;
    margin-left: 0.5rem;
}
#form-container {
    flex: 1;
    flex-wrap: wrap;

}
  
#form-inner {
    margin: 3rem;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
#form-inner{
    border: none;
}
  
#container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin-right: .7rem;
    width:300px ;
}
#register-form input {
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 5px;
    border: 2px solid #0089397d;

}
#biografia{
    width: 100%;
}
#biografia #bio{
    width: 100%;
    height: 150px;
}
#register-form input[type="submit"] {
    background: #FF7008;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    justify-content: center;
  }
  
#register-form input[type="submit"]:hover {
    background-color: #ff9041;
  }
#container label {
    text-align: initial;
    display: block;
    margin-bottom: .5rem;
    color: #001D3D;
}

#picture__input {
    display: none;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0089397d;
    border: 2px dashed currentcolor;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
.picture:hover {
    color: #777;
    background: #ccc;
  }
  
.picture_img{
    width: 200px;
    height: 200px;
   
}
select {
    border: 2px solid #0089397d;
    border-radius: 5px;
    width:300px ;
    padding: 0.63rem 0.4rem;
    cursor:pointer;
    font-size: 1em;
    border-radius: .25em;
    margin-right: .7rem;
 }
 span{
    text-align: initial;
    display: block;
    margin-bottom: .5rem;
    color: #001D3D;
 }
 select::-ms-expand {
    display: none;
 }
#disability{
    display: none;
}
#img-container {
    position: relative;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    
}
#imagem-perfil{
   
    position: relative;
    width: 100%;
    
}
#image-profile {
    width: 100%;
    width: 210px;
}

.overlay {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003566a6;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay p {
    color: #fff;
}

#img-container:hover .overlay {

    opacity: 1;
}
#picture__input {
    display: none; /* Oculta o input file por padrão */
}

